/* General CSS - Extension of Bootstrap */
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #8dc63f;
  color: #fff;
}

body {
  font-family: sans-serif;
  background: #7CBB29;
}

.h-vh-100 {
  height: 100vh;
}

.h-vh-90 {
  height: 90vh;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h-md-vh-100 {
    height: 100vh;
  }

  .h-md-vh-90 {
    height: 90vh;
  }
}


* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto', serif;
}

html,body {
  height: 100%;
}


a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: #3471ea;
}


p {
  font-size: 18px;
  line-height: 1.25em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.title {
  color: #1A1918;
  font-size: 3.4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 0px #0000007a;
  text-transform: uppercase;
}

.section-logo {
  margin-top: 50px;
  -webkit-animation: fa-spin 60s infinite linear;
  animation: fa-spin 60s infinite linear;
}

.section-logo:hover {
  -webkit-animation: fa-spin 3s infinite linear;
  animation: fa-spin 3s infinite linear;
}
@media only screen and (max-width: 767px) {
  .section-logo {
    margin-top: 0px;
  }
}

.section-description {
  max-width: 302px;
  text-align: center;
  flex-grow: 0.5;
}

.section-description__overview {
  color: #FFFFFF; /*gray*/
  line-height: 2;
  min-height: 280px;
}

@media only screen and (max-width: 767px) {
  .section-description__overview {
    line-height: 1.75;
  }
}

.global-footer {
  margin-bottom: 10px;
}

.coming-soon {
  color:  #7d97ad;
  font-size: 3em;
}

