/* General CSS - Extension of Bootstrap */
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #8dc63f;
  color: #fff;
}

body {
  font-family: sans-serif;
}

.h-vh-100 {
  height: 100vh;
}

.h-vh-90 {
  height: 90vh;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .h-md-vh-100 {
    height: 100vh;
  }

  .h-md-vh-90 {
    height: 90vh;
  }
}

